body, html {
  height: 100%;
}

.bg {
  background-image: url("/img/image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
	position: absolute;
	left: 390px;
	top: 80px;
	color: yellow;
	font-size: 24px;
	background-color: purple;
	padding: 32px;
	border-radius: 0 0 0 25%;
}
